#FondoAcercaDeG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 125, 0.5);
}

#AcercaDeG {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-top: -250px;
    margin-left: -300px;
    overflow: hidden;
}

#AcercaDeG .cerrar {
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

#AcercaDeG>.botonH,
#AcercaDeG>.botonV {
    position: absolute;
}

#AcercaDeG>.botonH {
    width: 100%;
    height: 62px;
    left: 0;
    text-align: center;
    cursor: pointer;
}

#AcercaDeG>.botonH>p {
    margin: 0;
}

#AcercaDeG>.botonH img {
    width: 32px;
    height: 32px;
}

#AcercaDeG>.botonH>span {
    display: inline-block;
    padding: 0 1em;
    background-color: rgba(255, 255, 255, 0.5);
}

#AcercaDeG>.botonV {
    height: 100%;
    width: 20px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

#AcercaDeG>.botonV>.etiquetaV {
    position: relative;
    top: 50%;
    cursor: pointer;
}

#AcercaDeG>.botonV>.etiquetaV>span {
    display: block;
    text-align: center;
}

#AcercaDeG>.Izq {
    left: 0;
}

#AcercaDeG>.Der {
    right: 0;
}

#AcercaDeG>.Sup {
    top: 0;
    display: none;
}

#AcercaDeG>.Inf {
    bottom: -30px;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#AcercaDeG>.Inf:hover {
    bottom: 0;
}

#AcercaDeG>.Inf:hover img {
    visibility: hidden;
    opacity: 0;
}

#AcercaDeG>.seccion {
    width: 100%;
}

#AcercaDeG>.primera.seccion {
    position: relative;
    top: 0;
    left: 0;
}

#AcercaDeG>.segunda.seccion {
    position: absolute;
    /*Calcular desplazamiento vertical mediante secuencia de comandos.*/
    /*top: 0;*/
    left: 0;
}

#AcercaDeG>.seccion>.tabs {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#AcercaDeG>.seccion>.tabs>.tab,
#AcercaDeG>.seccion>.contenido {
    border: solid rgb(102, 0, 102) 2px;
}

#AcercaDeG>.seccion>.tabs>.tab {
    float: left;
    border-right-width: 0;
    border-bottom-width: 0;
    padding: 0.2em 0.5em;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
}

#AcercaDeG>.primera.seccion>.tabs>.tab:nth-child(1) {
    border-bottom-width: 2px;
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

#AcercaDeG>.segunda.seccion>.tabs>.tab:nth-child(1) {
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

#AcercaDeG>.seccion>.tabs>.tab:last-child {
    border-right-width: 2px;
}

#AcercaDeG>.seccion>.contenido {
    position: relative;
    /*Se define desplazamiento vertical en función del ancho en pixeles de los bordes.*/
    margin-top: -2px;
    height: 500px;
}

#AcercaDeG>.seccion>.contenido>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

#AcercaDeG>.primera.seccion>.contenido>div:nth-child(1) {
    background-color: rgb(0, 0, 0);
    background-image: url('../../imagenes/procesador.jpg');
    background-size: cover;
}

#AcercaDeG>.primera.seccion>.contenido>div:nth-child(3){
    background-color: rgba(0,0,0,0.5);
}

#AcercaDeG>.primera.seccion>.contenido>div:nth-child(4){
    background-color: rgba(255,255,255,0.5);
}

#AcercaDeG>.segunda.seccion>.contenido>div:nth-child(1){
    background-color: rgba(0,0,0,0.5);
}

#AcercaDeG>.segunda.seccion>.contenido>div:nth-child(2){
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../../imagenes/asp.png'), 
        url('../../imagenes/html.png'), url('../../imagenes/css.png'),
        url('../../imagenes/jquery ui.png'), url('../../imagenes/javascript.png'),
        url('../../imagenes/azure.png'), url('../../imagenes/azuresqldatabase.png'),
        url('../../imagenes/webapp.png'), url('../../imagenes/azureappservice.png');
    background-size: 180px 180px, 90px 90px, 90px 126px, 150px 150px,100px 100px, 120px 37px, 
        100px 100px, 100px 100px, 100px 100px;
    background-position: 0 50%, 100% 50%, 90% 10%, 90% 90%, 70% 50%, 
        10% 10%, 35% 25%, 10% 85%, 45% 70%;
    background-repeat: no-repeat;
}

#AcercaDeG>.primera.seccion>.tabs>.tab:first-child {
    color: orange;
}

#AcercaDeG>.segunda.seccion.seccion>.tabs>.tab:nth-child(2) {
    color: orange;
}

#AcercaDeG>.primera.seccion>.contenido>div:nth-child(2) {
    background-color: rgba(0, 0, 77, 0.5);
    background-repeat: no-repeat;
    background-image: url('../../imagenes/netframework.svg'), url('../../imagenes/sqlserver.png'), url('../../imagenes/mysql.png');
    background-size: 250px 250px, 150px 93px, 100px 51px;
    background-position: 0 50%, 90% 10%, 90% 90%;
}

#AcercaDeG>.primera.seccion>.tabs>.tab:nth-child(2) {
    color: lightgrey;
}

#AcercaDeG>.primera.seccion>.tabs>.tab:nth-child(3) {
    color: whitesmoke;
}

#AcercaDeG>.segunda.seccion>.tabs>.tab:nth-child(1) {
    color: #00abec;;
}

#AcercaDeG>.seccion>.contenido>div>div {
    margin: 22px auto;
}

#AcercaDeG>.seccion>.contenido>div:first-child {
    visibility: visible;
    opacity: 1;
}

#Biografia {
    overflow: hidden;
    position: relative;
    width: 90%;
}

#Biografia>img {
    width: 200px;
    height: 201px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#Biografia>.Descripcion {
    border: solid 2px orange;
    margin-top: 1em;
    color: azure;
    padding: 0 0.5em;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7)
}

#Biografia>.Descripcion>p {
    text-align: justify;
}

#Habilidades {
    width: 90%;
}

#Habilidades>table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
}

#Habilidades>table th {
    text-align: left;
    font-weight: normal;
}

#Habilidades>table td,
#Habilidades>table th {
    padding: 0.5em 0.5em;
}

#Habilidades>table tr {
    color: lightgrey;
}

#Habilidades>table>tbody>tr>td,
#Habilidades>table>thead>tr>th {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: solid 1px lightgrey;
}

#Habilidades>table>tbody>tr>td:first-child {
    background-color: transparent;
    border-bottom: 0;
}

#Habilidades>table>tbody>tr:last-child>td {
    border-bottom: 0;
}

#Habilidades>table>thead>tr>th:first-child {
    color: gray;
    width: 220px;
}

#Habilidades>table>thead>tr>th:nth-child(2) {
    width: 250px;
}

#Habilidades>table>tbody>tr>td>div,
#Habilidades>table>thead>tr>th>div {
    width: 20px;
    border-radius: 50%;
    height: 20px;
    margin: 0 auto;
}

#Habilidades>table>thead>tr>th:first-child {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 0;
}

#jqueryUI_acordion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    margin: 0 auto;
}

#jqueryUI_acordion>div>ul {
    list-style: none;
}

#jqueryUI_acordion>div>ul>li {
    overflow: hidden;
}

#jqueryUI_acordion>div>ul>li img {
    width: 22px;
    height: 22px;
    margin-right: 0.8em;
    float: left;
}

#frmContactoGr {
    width: 350px;
    text-align: center;
    border: solid gray 2px;
    padding: 1em 0;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
}

#frmContactoGr .campo {
    padding-bottom: 0.5em;
    border-bottom: gray 2px solid;
    overflow: hidden;
    display: inline-block;
    margin-top: 1em;
}

#frmContactoGr .campo>img,
#frmContactoGr .campo>input {
    float: left;
}

#frmContactoGr .campo>input {
    width: 300px;
    border: none;
    height: 21px;
    background-color: transparent;
}

#frmContactoGr .campo>img {
    width: 21px;
    height: 21px;
    margin-right: 0.5em;
}

#frmContactoGr>textarea {
    width: 80%;
    margin-top: 1em;
    border: solid 2px gray;
    resize: none;
    padding-bottom: 0.5em;
    height: 100px;
    background-color: transparent;
}

#frmContactoGr>.botonenviar {
    display: inline-block;
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: dodgerblue;
    color: white;
    margin: 1em 0;
    cursor: pointer;
}

#acercaDegaRoNET{
    background-image: url('../../imagenes/tecnologia.jpg');
    background-size: cover;
    position: relative;
}
.fondoAD{
    padding:1em;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    border-radius: 10px;
}
.fondoAD > h1, .fondoAD > h2 {
    color: #00abec;
}