    #ctdrCampoBusqueda {
        overflow: hidden;
        border-radius: 6px;
        padding: 5px;
    }
    
    #ctdrCampoBusqueda img,
    #ctdrCampoBusqueda input {
        float: right;
        height: 36px;
        box-sizing: border-box;
    }
    
    #ctdrCampoBusqueda input {
        border: 0;
        outline: none;
        background-color: transparent;
        color: white;
    }
    
    @media screen and (min-width: 1025px) {
        #ctdrCampoBusqueda {
            float: right;
        }
        #ctdrCampoBusqueda img {
            width: 36px;
            cursor: pointer;
        }
        #ctdrCampoBusqueda input {
            width: 0px;
            transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
        }
    }
    
    @media screen and (min-width: 600px) and (max-width: 1025px) {
        #ctdrCampoBusqueda {
            width: 250px;
            display: inline-block;
            margin-top: 10px;
            border: 0.5px solid whitesmoke;
            border-radius: 10px;
        }
        #ctdrCampoBusqueda img {
            /* width: 10%; */
            cursor: none;
        }
        #ctdrCampoBusqueda input {
            width: 200px;
            /* border-bottom: 0.5px solid whitesmoke; */
        }
    }
    
    @media screen and (min-width: 100px) and (max-width: 600px) {
        #ctdrCampoBusqueda {
            display: none;
        }
    }