/** Sección FIJA STYLES **/

#fondoFijo,
.fondoFijoColor {
    background-image: url('../../imagenes/fondo4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.fondoFijoColor {
    background-image: none;
    background-color: rgba(106, 96, 107, 0.5);
}


/** Sección FIJA STYLES  FIN **/


/** Sección 1 Carrusel STYLES **/

#seccion1Principal,
#seccion2Principal,
#seccion3Principal,
#seccion4Principal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#seccion1Principal>div.Contenido,
#seccion2Principal>div.Contenido {
    width: 85%;
    margin: 0 auto;
}

.contenidoCarrusel {
    color: white;
}


/** Sección 1 Carrusel STYLES FIN**/


/** Sección 2 Noticias STYLES **/

#seccion2Principal {
    top: 100%;
    background-image: url('../../imagenes/fondo2.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

#seccion2Principal>div.Contenido {
    position: relative;
    overflow: hidden;
}

#seccion2Principal>.fondoFijoColor {
    position: absolute;
    background-color: transparent;
    /* rgba(106, 96, 107, 0.5); */
}


/* Sección 3 Multimedia STYLES */

#seccion3Principal {
    top: 200%;
    overflow: hidden;
}


/* Sección 4 Autores STYLES */

#seccion4Principal {
    top: 300%;
}


/** Sección 2 Carrusel STYLES **/

@media screen and (min-width: 600px) and (max-width: 1025px) {
    #seccion2Principal {
        top: 200%;
        height: auto;
        background-image: url('../../imagenes/fondo5.jpeg');
    }
    #seccion3Principal {
        top: 100%;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    #fondoMenu,
    #fondoFijo,
    #fondoFijoColor {
        position: absolute;
    }
    #seccion2Principal {
        height: auto;
        top: 200%;
        background-image: url('../../imagenes/fondo5.jpg');
    }
    #seccion3Principal {
        top: 100%;
    }
}